.toggle-mobile {
    display: none !important;
    @media screen and (min-width: 900px) {
        display: block !important;
    }
}

.main {
    @media screen and (max-width: 900px) {
        width: 100% !important;
    }
}